:root {
    --ad: 1s;
    /* Animation Duration */
    --bs: 30px;
    /* Box Size */
    --ds: 80px;
    /* Distance it will move left/right */
    --c1: #ffc600;
    --c2: #ffc600;
    --c3: #ffc600;
}

html{
    background: black;
}

#container {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box1 {
    width: var(--bs);
    height: var(--bs);
    background: var(--c1);
    animation: slide-in-left var(--ad) ease-in infinite normal;
    /* Animation identifier, Animation duration, 
       Animation timing function, Animation iteration, 
       Animation direction */
}

#box2 {
    width: var(--bs);
    height: var(--bs);
    background: var(--c2);

}

#box3 {
    width: var(--bs);
    height: var(--bs);
    background: var(--c3);
    animation: slide-in-right var(--ad) ease-in infinite calc(var(--ad) / 2) normal;
    /* Animation identifier, Animation duration, 
       Animation timing function, Animation iteration, 
       Animation delay, Animation direction */
}

@keyframes slide-in-left {

    25% {
        transform: translateX(calc(-0px - var(--ds)));
    }

    50% {
        transform: translateX(0px);
    }

}


@keyframes slide-in-right {

    25% {
        transform: translateX(var(--ds));
    }

    50% {
        transform: translateX(0px);
    }


}