:root {
    --mw: 800px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

#container {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

#video-container {
    display: flex;
    max-width: var(--mw);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    cursor: pointer;
    padding-top: 20px;
}

video {
    object-fit: cover !important;
    width: 100%;
    height: 450px;
}

#play-icon {
    justify-content: center;
    position: absolute;
    align-items: center;
    display: flex;
    /* background: #ffffffb8; */
    cursor: pointer;
}

#play-icon img {
    width: calc(var(--mw) / 4);
    height: calc(var(--mw) / 4);
}

progress {
    color: #ffc600;
    cursor: pointer;
    width: 100%;
    background: black;
    height: 10px;
    bottom: 40px;
    position: absolute;
}

#controls {
    flex-grow: 2;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 40px;
    background: #00000085;
    bottom: 0px;
    opacity: 0;
    transition: opacity 500ms ease-in-out 25ms;
}

#sound-slider {
    bottom: 15.5px;
    left: 40px;
    position: absolute;
    color: #ffc600;
}

#controls #time {
    position: absolute;
    color: #ffc600;
    bottom: 7.5px;
    left: 200px;
}

#controls .sound {
    position: absolute;
    bottom: 7.5px;
    left: 10px;
}

#shortcuts {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
    flex-wrap: wrap;
}

#shortcuts ul {
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    max-width: var(--mw);
    flex-wrap: wrap;
    gap: 10px 0;
}

#creator {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul li {
    flex-basis: 50%;
    text-align: left;
}

#creator {
    font-size: 18px;
    font-weight: bold;
}

#controls .mute {
    position: absolute;
    bottom: 7.5px;
    left: 10px;
}

#controls .skipf {
    position: absolute;
    bottom: 8px;
    right: 10px;
}

#controls .skipb {
    position: absolute;
    bottom: 8px;
    right: 50px;
    transform: rotate(180deg);
}

video~#controls {
    opacity: 0;
}

video:hover~#controls,
#play-icon:hover+#controls {
    opacity: 1;
}

#controls:hover {
    opacity: 1;
}

.opacity {
    opacity: 1 !important;
}

/* Styles for Progress Bar in different browsers*/
progress {
    color: #ffc600;
    outline: none;
    border: none;
}

progress::-webkit-progress-value {
    background: #ffc600;
}


progress::-moz-progress-bar {
    background: #ffc600;
}

progress::-webkit-progress-bar {
    background: #ffc600;
}

progress::-webkit-progress-bar {
    background: black;
}

.d-none {
    display: none !important;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #ffc600;
}

input[type="range"]::-webkit-slider-thumb {
    height: 12.5px;
    width: 12.5px;
    border-radius: 20px;
    background: #ffc600;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #ffc600;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #ffc600;
}

input[type="range"]::-moz-range-thumb {
    height: 12.5px;
    width: 12.5px;
    border-radius: 20px;
    background: #ffc600;
    cursor: pointer;
    border: none;
}


/*  Hide default video controls on fullscreen */
video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

#controls {
    z-index: 2147483647;
}


@-moz-document url-prefix('') {
    #sound-slider {
        bottom: 9px !important;
        left: 40px;
    }

    #controls #time {
        left: 215px;
    }
}

@media (max-width: 767px) {
    :root {
        --mw: 100vw;
    }

    ul li {
        flex-basis: 100%;
        text-align: center;
    }

    #sound-slider {
        width: 75px;
    }

    #controls #time {
        left: 130px;
    }

    #container {
        padding: 15px;
    }

    #video-container {
        padding: 0;
    }

    #play-icon {
        padding-bottom: 35px;
    }

    video {
        object-fit: cover !important;
        width: 100%;
        height: 100%;
    }
}